{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="../">{% trans 'Home' %}</a> <span class="divider">/</span></li>
        <li class="active">{% trans 'Reset your password' %}</li>
    </ul>
{% endblock %}

{% block title %}{% trans "Reset your password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Reset your password" %}</h1>
    <p>{% trans "Forgot your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you." %}</p>
    <form action="" method="post">{% csrf_token %}
        {% if form.email.errors %}{{ form.email.errors }}{% endif %}
        <p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
    </form>
{% endblock %}
