{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="../../">{% trans 'Home' %}</a> <span class="divider">/</span></li>
        <li class="active">{% trans 'Password change' %}</li>
    </ul>
{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content_wide %}
    {{ request.path }}
    <div class="span4">
        <h1>{% trans 'Password change' %}</h1>
        <p>{% trans "Please enter your old password for the sake of security, then enter your new password twice to make sure we have the correct spelling." %}</p>
    </div>
    <div class="span12 password-form">
        <form action="" method="post" class="form-stacked">{% csrf_token %}
            <fieldset>
                <div class="row">
                    <div class="span6">
                        <div class="clearfix{% if form.old_password.errors %} error{% endif %}">
                            <label for="id_old_password" class="required">{% trans 'Old password:' %}</label>
                            <div class="input">
                                {{ form.old_password }}
                                {% if form.old_password.errors %}
                                    {% for error in form.old_password.errors %}
                                <div class="help-block">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="clearfix{% if form.new_password1.errors %} error{% endif %}">
                            <label for="id_new_password1" class="required">{% trans 'New password:' %}</label>
                            <div class="input">
                                {{ form.new_password1 }}
                                {% if form.new_password1.errors %}
                                    {% for error in form.new_password1.errors %}
                                <div class="help-block">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="clearfix{% if form.new_password2.errors %} error{% endif %}">
                            <label for="id_new_password2" class="required">{% trans 'Confirm password:' %}</label>
                            <div class="input">
                                {{ form.new_password2 }}
                                {% if form.new_password2.errors %}
                                    {% for error in form.new_password2.errors %}
                                <div class="help-block">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="actions">
                <input type="submit" value="{% trans 'Change my password' %}" class="btn primary pull-right" />
                <div class="clearfix"></div>
            </div>
            <script type="text/javascript">
                (function($){
                    $(function(){
                        try {
                            // focus on first form-field
                            $("#id_old_password").eq(0).focus();
                        } catch(e) {}
                    });
                }(django.jQuery));
            </script>
        </form>
    </div>
{% endblock %}
