{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="../../">{% trans 'Home' %}</a> <span class="divider">/</span> </li>
        <li class="active">{% trans 'Password change successful' %}</li>
    </ul>
{% endblock %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content_title %}<div class="page-header"><h1>{% trans 'Password change successful' %}</h1></div>{% endblock %}

{% block content %}
    <p>{% trans 'Your password was changed.' %}</p>
{% endblock %}
