.selector {
    float: left;
    overflow: hidden;
    position: relative;
    width: 758px;
}
.selector-available, .selector-chosen {
    float: left;
    width: 366px;
}
.stacked .selector-available, .stacked .selector-chosen {
    width: 756px;
}
.selector h2, .inline-group .selector h2, 
.inline-related fieldset .selector-available h2, .inline-related fieldset .selector-chosen h2 {
    line-height: 13px;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 5px 6px 7px;
}
.selector .selector-filter {
    background: url('../img/icons/icon-searchbox.png') 6px 50% no-repeat;
    font-weight: bold;
    line-height: 25px;
    min-height: 25px;
    padding: 3px 5px 2px 2px;
    text-indent: 25px;
}
.selector .selector-filter input[type=text] {
    margin: 0;
    max-width: 326px !important;
    position: relative;
    width: 326px !important;
}
.selector.stacked .selector-filter input[type=text] {
    max-width: 716px !important;
    width: 716px !important;
}
.selector .selector-filter img {
    display: none;
}
.selector .selector-chosen .selector-filter:after {
    content: " " url('../img/icons/icon-selector_add-m2m_horizontal-hover.png');
    opacity: .75;
}
.selector.stacked .selector-chosen .selector-filter:after {
    content: " " url('../img/icons/icon-selector_add-m2m_vertical-hover.png');
}
.selector select[multiple=multiple] {
    height: 200px;
    margin: 0;
    max-width: 367px !important;
    padding-left: 3px;
    width: 367px !important;
}
.selector.stacked select[multiple=multiple] {
    max-width: 757px !important;
    width: 757px !important;
}
.selector h2 + select {
    display: none;
    position: relative;
    top: -1px;
}
.selector ul.selector-chooser {
    float: left;
    margin: 110px 2px 0;
    padding: 0;
    width: 18px;
}
.selector.stacked ul.selector-chooser {
    margin: 4px 0 0 356px;
    width: 36px;
}
.selector.stacked ul.selector-chooser li {
    float: left;
}
a.selector-add, a.selector-remove {
    background-position: 50% 0;
    background-repeat: no-repeat;
    color: transparent !important;
    display: block;
    height: 18px;
    width: 18px;
}
a.selector-add:link, a.selector-add:visited {
    background-image: url('../img/icons/icon-selector_add-m2m_horizontal.png');
}
a.selector-add:hover, a.selector-add:active {
    background-image: url('../img/icons/icon-selector_add-m2m_horizontal-hover.png');
}
a.selector-remove:link, a.selector-remove:visited {
    background-image: url('../img/icons/icon-selector_remove-m2m_horizontal.png');
}
a.selector-remove:hover, a.selector-remove:active {
    background-image: url('../img/icons/icon-selector_remove-m2m_horizontal-hover.png');
}
.stacked a.selector-add:link, .stacked a.selector-add:visited {
    background-image: url('../img/icons/icon-selector_add-m2m_vertical.png');
}
.stacked a.selector-add:hover, .stacked a.selector-add:active {
    background-image: url('../img/icons/icon-selector_add-m2m_vertical-hover.png');
}
.stacked a.selector-remove:link, .stacked a.selector-remove:visited {
    background-image: url('../img/icons/icon-selector_remove-m2m_vertical.png');
}
.stacked a.selector-remove:hover, .stacked a.selector-remove:active {
    background-image: url('../img/icons/icon-selector_remove-m2m_vertical-hover.png');
}
a.selector-chooseall, a.selector-clearall {
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    margin: 0;
    padding: 2px 7px;
}

/* CSS */
.selector-available, .selector-chosen {
    background: #E9E9E9;
    border: 1px solid #DDDDDD;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.selector h2, .inline-group .selector h2, 
.inline-related fieldset .selector-available h2, .inline-related fieldset .selector-chosen h2 {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #E0E0E0;
}
.selector .selector-filter {
    background-color: #F0F0F0;
    border-bottom: 1px solid #F9F9F9;
    border-top: 1px solid #F9F9F9;
    border-top-left-radius: 5px;-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
    color: #606060;
    margin-bottom: 0;
}
.selector h2 + .selector-filter {
    border-radius-topleft: 0; -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0;
    border-radius-topright: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0;
}
.selector select[multiple=multiple] {
    border-bottom: 1px solid #E0E0E0;
    border-left: 0;
    border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
    border-top: 1px solid #E0E0E0;
}

a.selector-chooseall, a.selector-clearall {
    border-top: 1px solid #F3F3F3;
}

.selector h2 + select {
    border-top: 0;
}

a.selector-chooseall, a.selector-clearall {
    border-top: 1px solid #F3F3F3;
}
